.mainpageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.buttonContainer {
    width: 350px;
}
.button__setModalOpenClose {
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    margin: 1rem 0;
}